/data/data/Nowicka2017manhattanFeatures.npz
/data/data/Nowicka2017manhattan.npz
/data/
/data/tmp/
/2D_Patient_Treatment_LAM_0.001.html
/2dneighbPlot.html
/2dneighbPlot75001.html
/2dNoPerplexityAtall.html
/2dNoPerplexityInRestorationLoss.html
/2dPerplexityk30.html
/2dPerplexityk30weighted.html
/2dPerplexityk30weighted100epochs_CD3.html
/2dPerplexityk30weighted100epochs_CD4.html
/2dPerplexityk30weighted100epochs_CD7.html
/2dPerplexityk30weighted100epochs_CD14.html
/2dPerplexityk30weighted100epochs_CD20.html
/2dPerplexityk30weighted100epochs_CD33.html
/2dPerplexityk30weighted100epochs_CD45.html
/2dPerplexityk30weighted100epochs_CD123.html
/2dPerplexityk30weighted100epochs_HLA-DR.html
/2dPerplexityk30weighted100epochs_IgM.html
/2dPerplexityk30weighted100epochs_pAkt.html
/2dPerplexityk30weighted100epochs_pBtk.html
/2dPerplexityk30weighted100epochs_pErk.html
/2dPerplexityk30weighted100epochs_pLat.html
/2dPerplexityk30weighted100epochs_pNFkB.html
/2dPerplexityk30weighted100epochs_pp38.html
/2dPerplexityk30weighted100epochs_pPlcg2.html
/2dPerplexityk30weighted100epochs_pS6.html
/2dPerplexityk30weighted100epochs_pSHP2.html
/2dPerplexityk30weighted100epochs_pSlp76.html
/2dPerplexityk30weighted100epochs_pStat1.html
/2dPerplexityk30weighted100epochs_pStat3.html
/2dPerplexityk30weighted100epochs_pStat5.html
/2dPerplexityk30weighted100epochs_pZap70.html
/2dPerplexityk30weighted100epochsCD3.html
/2dPerplexityk30weighted100epochsCD4.html
/2dPerplexityk30weighted100epochsCD7.html
/2dPerplexityk30weighted100epochsCD14.html
/2dPerplexityk30weighted100epochsCD20.html
/2dPerplexityk30weighted100epochsCD33.html
/2dPerplexityk30weighted100epochsCD45.html
/2dPerplexityk30weighted100epochsCD123.html
/2dPerplexityk30weighted100epochsHLA-DR.html
/2dPerplexityk30weighted100epochsIgM.html
/2dPerplexityk30weighted100epochspAkt.html
/2dPerplexityk30weighted100epochspBtk.html
/2dPerplexityk30weighted100epochspErk.html
/2dPerplexityk30weighted100epochspLat.html
/2dPerplexityk30weighted100epochspNFkB.html
/2dPerplexityk30weighted100epochspp38.html
/2dPerplexityk30weighted100epochspPlcg2.html
/2dPerplexityk30weighted100epochspS6.html
/2dPerplexityk30weighted100epochspSHP2.html
/2dPerplexityk30weighted100epochspSlp76.html
/2dPerplexityk30weighted100epochspStat1.html
/2dPerplexityk30weighted100epochspStat3.html
/2dPerplexityk30weighted100epochspStat5.html
/2dPerplexityk30weighted100epochspZap70.html
/2dPerplexityk30weighted200epochs.html
/2dPerplexityk30weighted200epochs_LAM_0.001.html
/2dPerplexityk30weighted200epochs_LAM_0.00001.html
/2dPerplexityk30weighted200epochs_Patient.html
/2dPerplexityk30weighted200epochs_Patient_LAM_0.001.html
/2dPerplexityk30weighted200epochs_Patient_Treatment.html
/2dPerplexityk30weighted200epochs_Patient_Treatment_LAM_0.001.html
/2dPerplexityk30weighted200epochs_Patitient_Treatment.html
/2dPerplexityk30weighted200epochs_Treatment.html
/2dPerplexityk30weighted200epochs_Treatment_LAM_0.001.html
/2dPerplexityk30weighted1000epochs.html
/2dPerplexityk30weighted10000epochs.html
/2dPerplexityk60.html
/200epochs_LAM_early_stoppingUniform.html
/2000epochs_LAM_0.0001.html
/2000epochs_Treatment_LAM_0.001.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_CD3.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_CD4.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_CD7.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_CD14.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_CD20.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_CD33.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_CD45.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_CD123.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_HLA-DR.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_IgM.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pAkt.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pBtk.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pErk.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pLat.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pNFkB.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pp38.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pPlcg2.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pS6.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pSHP2.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pSlp76.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pStat1.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pStat3.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pStat5.html
/Balanced2dPerplexityk30weighted100epochs_LAM_0.00001_pZap70.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_CD3.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_CD4.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_CD7.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_CD14.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_CD20.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_CD33.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_CD45.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_CD123.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_HLA-DR.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_IgM.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pAkt.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pBtk.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pErk.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pLat.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pNFkB.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pp38.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pPlcg2.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pS6.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pSHP2.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pSlp76.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pStat1.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pStat3.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pStat5.html
/Balanced2dPerplexityk30weighted2000epochs_LAM_0.00001_pZap70.html
/Discrete2dPerplexityk30weighted200epochs_LAM_0.00001.html
/Discrete2dPerplexityk30weighted2000epochs_LAM_0.001.html
/DiscreteClustering2dPerplexityk30CLUS.html
/encoder_weightsWEBERCELLS_2D_MMD_CONTRACTIVEk30_20epochs.h5
/encoder_weightsWEBERCELLS_2D_MMD_CONTRACTIVEk30_20epochs_LAM_0.001.h5
/encoder_weightsWEBERCELLS_2D_MMD_CONTRACTIVEk30_20epochs_LAM_0.0001.h5
/encoder_weightsWEBERCELLS_2D_MMD_CONTRACTIVEk30_20epochs_LAM_0.00001.h5
/encoder_weightsWEBERCELLS_2D_MMD_CONTRACTIVEk30_200epochs.h5
/encoder_weightsWEBERCELLS_2D_MMD_CONTRACTIVEk30_2000epochs_LAM_0.001.h5
/encoder_weightsWEBERCELLS_2D_MMD_CONTRACTIVEk30_2000epochs_LAM_0.0001.h5
/Entropy_added_17800epochs_Patient_Treatment.html
/Entropy_added_17800epochs_Patient_Treatment_LAM_0.001.html
/Entropyreg1700epochs_Treatment_LAM_0.001.html
/globalsaveArtBulbs.pkl
/model_architecture.json
/model_weights.h5
/Reference200epochs_LAM_early_stopping.html
/Reference_Patient_LAM_0.001.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_CD3.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_CD4.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_CD7.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_CD14.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_CD20.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_CD33.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_CD45.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_CD123.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_HLA-DR.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_IgM.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pAkt.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pBtk.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pErk.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pLat.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pNFkB.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pp38.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pPlcg2.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pS6.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pSHP2.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pSlp76.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pStat1.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pStat3.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pStat5.html
/Rererence2dPerplexityk30weighted100epochs_LAM_0.00001_pZap70.html
/session_ArtdataGeneration.pkl
/small2D_Patient_Treatment_LAM_0.001.html
/small2dPerplexityk30weighted200epochs_Treatment_LAM_0.001.html
/small200epochs_LAM_early_stopping.html
/temp-plot.html
/tsneWeber2d.npz
/WEBERCELLS2D.h5
/WEBERCELLS3D.h5
/WEBERCELLS3D32.h5
/WEBERCELLS3D32lambda0.1.h5
/WEBERCELLS3D32lambda0.h5
/WEBERCELLS3D32lambdaPerpCorr0.1h5
/WEBERCELLS3D32lambdaPerpCorr0.01h5
/WEBERCELLS3D36.h5
/WEBERCELLS3D400.h5
/WEBERCELLS_2D_MMD_CONTRACTIVE.h5
/WEBERCELLS_2D_MMD_CONTRACTIVEk30.h5
/WEBERCELLS_2D_MMD_CONTRACTIVEk30_10000epochs.h5
/WEBERCELLS_2D_MMD_CONTRACTIVEk60.h5
/ZeroNeighbours2dPerplexityk30weighted.html
/ZeroWeightWEBERCELLS_2D_MMD_CONTRACTIVEk60.h5
/zzz2dPerplexityk30CLUSdiscrete.html
/zzz2dPerplexityk30weighted200epochs_LAM_0.00001.html
/data/
